        body 
        {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin: 0;
            padding: 0;
        }
        .navbar 
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: #FF3636;
            color: #fff;
        }
        .navbar .logo 
        {
            font-size: 1.5rem;
        }
        .navbar .user 
        {
            display: flex;
            align-items: center;
        }
        .navbar .user i 
        {
            margin-right: 5px;
        }
        .logout 
        {
            margin-right: 20px;
        }
        .logout-link 
        {
            text-decoration: none;
            color: #fff;
            padding: 5px 10px;
            border-radius: 3px;
            background-color: #FF3636;
            transition: background-color 0.3s ease;
        }
        .logout-link:hover 
        {
            background-color: #c82333;
        }
        .logo 
        {
            width: 20x;
            height: 100px;
            display: flex;
            justify-content: center;
        }
        .table-section 
        {
            padding: 20px;
            background-color: #f8f9fa; /* Warna latar belakang */
        }
        .table-section table 
        {
            width: 100%;
            border-collapse: collapse;
        }
        .table-section th 
        {
            background-color: #ff3636; /* Warna merah */
            color: #fff;
            padding: 10px;
            text-align: left;
        }
        .table-section td,
        .table-section th 
        {
            border: 1px solid #ddd;
            padding: 8px;
        }
        .table-section .action-buttons 
        {
            display: flex;
            justify-content: center;
        }
        .table-section .action-buttons a 
        {
            display: inline-block;
            padding: 5px 10px;
            border-radius: 5px;
            background-color: #dc3545; /* Warna merah */
            color: #fff;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }
        .table-section .action-buttons a.edit 
        {
            background-color: #007bff; /* Warna biru */
        }
        .table-section .action-buttons a.delete 
        {
            background-color: #ffc107; /* Warna kuning */
        }
        .table-section .action-buttons a:hover 
        {
            background-color: #c82333; /* Warna merah yang lebih gelap saat hover */
        }
        @media (max-width: 768px) 
        {
            .table-section {
                padding: 10px;
            }
        }